crash-reports/
datapacks/
defaultconfigs/
essential/
logs/
patchouli_books/
resourcify-temp/
saves/
screenshots/
emi.json
ops.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
whitelist.json
