crash-reports/
datapacks/
defaultconfigs/
essential/
logs/
patchouli_books/
resourcify-temp/
saves/
screenshots/
xaero/
emi.json
ops.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
whitelist.json
config/notenoughanimations.json
config/oculus.properties
config/sound_physics_reemastered/occlusion.properties
config/sound_physics_reemastered/reflectivity.properties
config/xaerominimap_entities.json
shaderpacks/ComplementaryReimagined_r5.3.zip.txt
config/notenoughanimations.json
config/oculus.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/xaerominimap_entities.json
shaderpacks/ComplementaryReimagined_r5.3.zip.txt
